<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>

  <section>
    <h1>Bookmarked Segments</h1>
  </section>


  <% if current_user.token == nil %>
    <%= link_to "Connect to GitHub", '/auth/github' %>
  <% else %>
  <section>

    <h1>Github</h1>
    <ul><b>Repos<b>
      <%@facade.user_repos(5).each do |repo| %>
        <li class="github_repo"><%= link_to "#{repo.name}", repo.url %></li>
      <%end%>
    </ul>

  <div class="follower_section">
    <ul><b>Followers<b>
      <%@facade.followers(5).each do |follower| %>
        <li class="follower"><%= link_to "#{follower.name}", follower.url %>
          <% if follower.user_exists %>
            <%=button_to "Add as Friend", user_friendships_path(current_user), {:friend_uid => follower.uid} %>
          <%end%>
        </li>
      <%end%>
    </ul>
  </div>

  <div class="following_section">
    <ul><b>Following<b>
      <%@facade.followed_users.each do |followed_user| %>
        <li class="followed_user"><%= link_to "#{followed_user.name}", followed_user.url %>
          <% if followed_user.user_exists %>
            <%=button_to "Add as Friend", user_friendships_path(current_user), {:friend_uid => followed_user.uid} %>
          <%end%>
        </li>
      <%end%>
    </ul>
  </div>

    <ul><b>My Friends<b>
      <%@facade.friends.each do |friend| %>
        <li class="friends"><%= friend.first_name %></li>
      <%end%>
    </ul>
  </section>

  <%end%>

</section>
